.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

img {
  height: 120px;
  width: 120px;
  width: auto;
}


.single-photo, .item-description {
  margin:auto;
  height: 120px;
  height: 120px;
  text-align: center;
  border: 1px solid;
  display: inline-block;
  box-sizing: border-box;
}